body {
  max-width: 600px;
  margin: 0 auto;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* people list */
#ppllist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.person {
  flex: 0 0 48%;
  margin: 10px 0.5%;
}

.selected-person {
  border: 1px solid rgb(113, 19, 19);
}

.person-img {
  width: 100%;
  display: block;
}

.person-body-text {
  padding: 10px;
}

/* items list */
#itemslist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  flex: 0 0 48%;
  margin: 10px 0.5%;
}

.item-img {
  width: 100%;
  display: block;
}

.item-body {
  padding: 10px;
}

.name-n-price {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.cart-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-amount > * {
  margin: 0 5px;
}

.item-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* budget */

#budget {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.budget-col {
  flex: 0 0 30%;
}
